@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@tomato/tailwind-config/theme.css";
@import "@tomato/timeline/dist/styles.css";

.scroll-area {
  --sb-track-color: #e2e8f000;
  --sb-thumb-color: #f45000;
  --sb-size: 4px;
}

.scroll-area::-webkit-scrollbar {
  width: var(--sb-size);
}

.scroll-area:hover::-webkit-scrollbar {
  width: var(--sb-size);
}

.scroll-area::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-track);
  border-radius: 2px;
  transition: background 3s linear;
}

.scroll-area:hover::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 2px;
}
