NODE_ENV=development
PORT=3022
DATABASE_URL=postgresql://tomato:tomato@localhost:5432/tomato_form
CORS_ORIGIN=http://localhost:3021

SMTP_HOST=localhost
SMTP_PORT=1025

MAIL_FROM=no-reply@tomato.com

YJS_RPC_URL=localhost:3030

RABBITMQ_URL=amqp://tomato:tomato@localhost:5672
